@font-face {
  font-family: 'iconfont';  /* project id 88142 */
  src: url('//at.alicdn.com/t/font_88142_xtgzvqzynjmrt3xr.eot');
  src: url('//at.alicdn.com/t/font_88142_xtgzvqzynjmrt3xr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_88142_xtgzvqzynjmrt3xr.woff') format('woff'),
  url('//at.alicdn.com/t/font_88142_xtgzvqzynjmrt3xr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_88142_xtgzvqzynjmrt3xr.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pending:before {
    content: "\e721";
}

.icon-workbench:before {
    content: "\e722";
}

.icon-info-preApplication:before {
    content: "\e723";
}

.icon-clue:before {
    content: "\e724";
}

.icon-system:before{content:"\e606";}
.icon-front:before{content:"\e725";}
.icon-fund:before{content:"\e726";}
.icon-monitor:before{content:"\e727";}
.icon-end:before{content:"\e728";}
.icon-risk:before{content:"\e729";}

.icon-changeRecord:before {
    content: "\e72c"
}

.icon-photoPosition:before {
    content: "\e72d";
}

.icon-stateHistory:before {
    content: "\e72f";
}

.icon-noData:before {
    content: "\e72b";
}

.icon-info-commonBorro:before {
    content: "\e734"
}

.icon-info-familyAssets:before {
  content: "\e737"
}

.icon-info-familyVisit:before {
  content: "\e73d"
}

.icon-info-sideSurvey:before {
  content: "\e73a"
}

.icon-info-ownership:before {
  content: "\e73e"
}

.icon-activity:before {
  content: "\e742"
}

.icon-download:before {
  content: "\e740"
}

.icon-help:before {
  content: "\e741"
}

.icon-tool:before {
  content: "\e743"
}

.icon-menu-realend:before {
  content: "\e744"
}

.icon-menu-contract:before {
  content: "\e745"
}

.icon-menu-imageMark:before {
  content: "\e746"
}

.icon-menu-customer:before {
  content: '\e747'
}

.icon-menu-highSeas:before {
  content: '\e748'
}

.icon-menu-PendingMatters:before {
  content: '\e749'
}

.icon-menu-Authority:before {
  content: '\e74a'
}

.icon-menu-systemManage:before {
  content: '\e74b'
}

.icon-menu-brief:before {
  content: '\e74c'
}

.icon-menu-surveyBusiness:before {
  content: '\e74d'
}

.icon-menu-assetPackage:before {
  content: '\e74e';
}

.icon-menu-loanManage:before {
  content: '\e750'
}

.icon-menu-surveyClue:before {
  content: '\e751'
}

.icon-menu-monitorManage:before {
  content: '\e752'
}

.icon-menu-cluePool:before {
  content: '\e753'
}

.icon-menu-riskAudit:before {
  content: '\e754'
}

.icon-quit:before {
  content: '\e755'
}

/**'56','57','58'是table中的图标,暂时没有用到**/

.icon-activity-hot:before {
  content: '\e759'
}

.icon-reduction:before {
  content: '\e75a'
}

.icon-menu-accountSecurity:before {
  content: '\e75b'
}

.icon-menu-personalInfo:before {
  content: '\e75c'
}

.icon-menu-medalHall:before {
  content: '\e75d'
}

.icon-exit:before {
  content: '\e75e'
}

.icon-personalAccount:before {
  content: '\e75f'
}

.icon-report-riskBusiness:before {
    content: '\e760'
}

.icon-report-finance:before {
    content: '\e761'
}

.icon-report-analysis:before {
    content: '\e762'
}

.icon-report-business:before {
    content: '\e763'
}

.icon-report-manager:before {
    content: '\e766'
}

.icon-bell:before {
    content: '\e764'
}