.am-list-item.am-input-item {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.am-list-item .am-list-line {
    min-height: 58px !important;
}
.am-list .am-list-item.am-textarea-item {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.am-list-item .am-list-line .am-list-extra {
    flex-basis: 60% !important;
}
.am-modal-header {
    padding: 15px 15px 15px !important;
}
.am-modal-close {
    padding-top: 15px !important;
    left: 15px !important;
}
.am-modal-content {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}