.am-list-item.am-input-item {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.am-list-item .am-list-line {
    min-height: 58px !important;
}
.am-list .am-list-item.am-textarea-item {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.am-list-item .am-list-line .am-list-extra {
    flex-basis: 60% !important;
}